.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  height: 100vh;
  justify-content: center;
  background-color: #f0f2f5;
}

.loginContainer {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.usernameInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sendButton {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.sendButton:hover {
  background: #0056b3;
}

.chatBox {
  width: 90%;
  max-width: 1000px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chatTitle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.messages {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  background: #e6e6e6;
  border-radius: 5px;
}

.message {
  display: flex;
  margin: 5px 0;
}

.sent {
  justify-content: flex-end;
}

.received {
  justify-content: flex-start;
}

.messageBubble {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.sent .messageBubble {
  background: #007bff;
  color: white;
}

.received .messageBubble {
  background: #007bff;
  color: white;
}

.inputContainer {
  display: flex;
  margin-top: 10px;
}

.messageInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sendButton {
  margin-left: 5px;
}
